@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 23 23 23; /* #171717 */
        --color-bg-main: 242 241 236; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }

    html.dark {
        --color-text-main: 242 241 236; /* #F2F1EC */
        --color-bg-main: 23 23 23; /* #171717 */
        --color-bg-muted: 36 36 36; /* #242424 */
        --color-border-main: 242 241 236; /* #F2F1EC */
    }

    /* Global Font Settings */
    body {
        font-family: 'Inter', sans-serif; /* Unified font for the site */
        color: rgb(var(--color-text-main) / 1); /* Main text color */
        background-color: rgb(var(--color-bg-main) / 1); /* Background color */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Newsreader', serif; /* Font for headings */
        color: rgb(var(--color-text-main) / 1); /* Ensure text color matches */
    }

    p,
    a,
    button,
    input,
    textarea,
    .prose {
        font-family: 'Inter', sans-serif; /* Body text font */
        color: rgb(var(--color-text-main) / 1); /* Main text color */
    }

    /* Button Styling */
    .button-small {
        font-size: 0.875rem; /* Smaller text size */
        padding: 0.25rem 0.5rem; /* Reduced padding */
        border-radius: 0.375rem; /* Rounded corners */
        background-color: #0077cc; /* Button color */
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.2s;
    }

    .button-small:hover {
        background-color: #005fa3; /* Darker color on hover */
    }

    .button-default {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: rgb(var(--color-bg-muted) / 1);
        border: 1px solid rgb(var(--color-border-main) / 1);
        color: rgb(var(--color-text-main) / 1);
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }

    .button-default:hover {
        background-color: rgb(var(--color-border-main) / 1);
        color: white;
    }
}
