---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Subscribe from '../../components/Subscribe.astro';
import { getAllTags } from '../../utils/data-utils';

// Fetch blog and project collections
const blogPosts = await getCollection('blog');
const projectPosts = await getCollection('projects');

// Combine all posts
const allPosts = [...blogPosts, ...projectPosts];

// Get all tags with counts
const tags = getAllTags(allPosts);
---

<BaseLayout
    title="Tags"
    description="Explore tag directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by tags, making it effortless to locate the content that interests you most."
    showHeader={false}
>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">All Tags</h1>
    <ul>
        {tags.map((tag) => {
            const postCount = tag.count;
            return (
                <li class="mb-4">
                    <a href={`/tags/${tag.slug}`} class="text-lg font-serif italic hover:underline">
                        {tag.name} <span class="text-sm text-gray-500">({postCount} {postCount === 1 ? 'post' : 'posts'})</span>
                    </a>
                </li>
            );
        })}
    </ul>
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>