---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, size = 'default', ...rest } = Astro.props;
const baseClasses =
    'inline-flex items-center justify-center font-serif leading-tight italic text-main bg-main border border-main rounded-full transition hover:bg-muted';
const sizeClasses =
    size === 'small'
        ? 'px-4 py-1 text-xs' // Smaller padding and font size
        : 'px-6 py-2 text-sm'; // Default size
const buttonClasses = `${baseClasses} ${sizeClasses}`;
---

{
    href ? (
        <a href={href} class:list={[buttonClasses, className]} {...rest}>
            <slot />
        </a>
    ) : (
        <button class:list={[buttonClasses, className]} {...rest}>
            <slot />
        </button>
    )
}