---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { type?: never };
type ButtonProps = HTMLAttributes<'button'> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const baseClasses =
    'inline-flex items-center justify-center px-4 py-2 font-sans text-sm font-normal text-main bg-muted border border-main rounded-lg transition hover:bg-main hover:text-white';
const buttonClasses = `${baseClasses} ${className || ''}`;
---

{
    href ? (
        <a href={href} class={buttonClasses} {...rest}>
            <slot />
        </a>
    ) : (
        <button class={buttonClasses} {...rest}>
            <slot />
        </button>
    )
}